/* Tags in cards */
.card-tag {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  justify-content: center;
  background: var(--color-tag-background, var(--color-background-primary));
  color: var(--color-tag-content, var(--color-text-primary));
  border-radius: var(--radius-sm);
  padding: var(--space-xs) var(--space-sm);
  margin-right: var(--space-xs);
  font-size: var(--font-size-sm);
  --icon-size: 24px;
  font-weight: var(--font-weight-medium);
  box-shadow: var(--shadow-sm);
}

.card-tag--keyboard {
  --icon-url: url('../../icons/keyboard.svg');
  --color-tag-background: var(--color-wcag-theme-blue);
  --color-tag-content: var(--color-wcag-theme-on-blue);
}
.card-tag--zoom {
  --icon-url: url('../../icons/magnify-plus.svg');
  --color-tag-background: var(--color-wcag-theme-red);
  --color-tag-content: var(--color-wcag-theme-on-red);
}
.card-tag--code {
  --icon-url: url('../../icons/code-block-tags.svg');
  --color-tag-background: var(--color-wcag-theme-black);
  --color-tag-content: var(--color-wcag-theme-on-black);
}
.card-tag--forms {
  --icon-url: url('../../icons/form-textbox-password.svg');
  --color-tag-background: var(--color-wcag-theme-green);
  --color-tag-content: var(--color-wcag-theme-on-green);
}
.card-tag--sensory {
  --icon-url: url('../../icons/motion-sensor.svg');
  --color-tag-background: var(--color-wcag-theme-yellow);
  --color-tag-content: var(--color-wcag-theme-on-yellow);
}
.card-tag--gestures {
  --icon-url: url('../../icons/gesture-double-tap.svg');
  --color-tag-background: var(--color-wcag-theme-cyan);
  --color-tag-content: var(--color-wcag-theme-on-cyan);
}
.card-tag--site {
  --icon-url: url('../../icons/sitemap.svg');
  --color-tag-background: var(--color-wcag-theme-pink);
  --color-tag-content: var(--color-wcag-theme-on-pink);
}
.card-tag--wording {
  --icon-url: url('../../icons/text-box.svg');
  --color-tag-background: var(--color-wcag-theme-orange);
  --color-tag-content: var(--color-wcag-theme-on-orange);
}